* {
    font-family: "Oswald";
    font-weight: 500;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 16px;
}
  
::-webkit-scrollbar-track {
    background: grey;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(22, 1, 49);
    border: 3px solid transparent;
    border-radius: 110px;
    background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(135, 44, 255);
    opacity: 50%;
    background-clip: content-box;
}

header {
    display: grid;
    grid-template-columns: 300px 1fr 200px; 
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background: rgb(16, 2, 53);
    box-shadow: inset 0px 2px 13px -3px rgb(41, 3, 90);
    transition: top 0.5s ease-in-out;
}

.hide {
    top: -150px;
    opacity: 0.8;
}

#logo1 {
    width: 200px;
    cursor: pointer;
}

#buttons {
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

#buttons button {
    height: 50px;
    width: 180px;
    background-color: #730e9bf1;
    border-radius: 100px;
    box-shadow: rgba(17, 68, 177, 0.2) 0 -25px 18px -14px inset,rgba(36, 18, 194, 0.15) 0 1px 2px,rgba(19, 51, 156, 0.452) 0 2px 4px,
    rgba(16, 33, 187, 0.705) 0 4px 8px,rgba(24, 98, 194, 0.63) 0 8px 16px,rgba(8, 109, 224, 0.473) 0 16px 32px;
    color: rgb(227, 235, 240);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 1.3rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#buttons button:hover {
    box-shadow: rgba(3, 5, 68, 0.35) 0 -25px 18px -14px inset,rgba(10, 93, 201, 0.658) 0 1px 2px,rgba(26, 38, 204, 0.74) 0 2px 4px,rgba(24, 214, 198, 0.541) 0 4px 8px,rgba(48, 200, 238, 0.25) 0 8px 16px,rgba(20, 109, 168, 0.637) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

main {
    background-color: rgb(6, 0, 22);
}

#cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
}

.card {
    margin-top: 200px;
    transition: 0.3s;
    height: 800px;
    width:1200px;
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #00ffff;
    overflow: hidden;
}


.card p, #content p {
    color: rgb(218, 241, 248);
    font-size: 26;
    text-align: justify;
}

.card img {
    width: 60%; 
    display: block;  
}
  
.card:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
    box-shadow: 0px 0px 50px #00ffff;
}
  
#footer {
    background: linear-gradient(rgb(46, 17, 179) 0%, rgb(23, 43, 160) 35%, rgb(31, 89, 175) 100%);
    height: 250px;
    margin-top: 200px;
    bottom: 50px;
}

.heading {
    font-size: 2em;
    margin-top: 50px;
    text-align: center;
    color: white;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: white;
}

.image {
    cursor: pointer;
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin-right: 50px;
    text-align: center;
}

.paragraph {
    font-size: 1.5em;
    margin-top: 50px;
    color: white;
}

.par0 {
    padding-top: 20px;
}

.par01 {
    padding-top: 20px;
}

.par1, .par2 {
    color: white;
    font-size: 60px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Alkatra', cursive;
}

.par0, .par01 {
    color: white;
    font-size: 100px;
    padding-left: 5%;
    font-family: 'Alkatra', cursive;
}

#cards1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.card1 {
    margin-top: 200px;
    margin-left: 30px;
    transition: 0.3s;
    height: 400px;
    width: 90%;
    align-items: center;
    background-color: #3f0444;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #578ad6;
    overflow: hidden;
}


.card1 p, #content p {
    color: rgb(218, 241, 248);
    font-size: 26;
    text-align: justify;
    padding-left: 50px;
    padding-top: 30px;
    font-family: 'Alkatra', cursive;
}

.card1 img {
    width: 60%; 
    display: block;  
}
  
.card1:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
    box-shadow: 0px 0px 50px #0906b9;
}

#cards2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
}

.card2 {
    margin-top: 200px;
    margin-left: 50px;
    transition: 0.3s;
    height: 400px;
    width: 90%;
    align-items: center;
    background-color: #2858a0;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #578ad6;
    overflow: hidden;
}


.card2 p, #content p {
    color: rgb(218, 241, 248);
    font-size: 26;
    text-align: justify;
    padding-left: 50px;
    padding-top: 30px;
    font-family: 'Alkatra', cursive;
}

.card2 img {
    width: 60%; 
    display: block;  
}
  
.card2:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
    box-shadow: 0px 0px 50px #7e7da8;
}